* {
    margin:0px;
    padding:0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#calc-btn {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px;
    border: 2px solid;
}


#result-bar {
    text-align: right;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 5px;
}

#page-header {
    font-size: 30px;
    margin: 10px;
}

